<!DOCTYPE html>
<html lang="en" ng-app="InvertedIndex">
    <head>
        <title>Inverted Index</title>
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="./css.css">
        <script type="text/javascript" src="./src/angular.min.js"></script>
        <script type="text/javascript" src="./src/inverted-index.js"></script>
        <script type="text/javascript" src="./src/apps.js"></script>
    </head>
    <body class="appBackground" ng-controller="IndexCtrl">
        <div class="wrapper">
            <header class="flex-grid">
                <h1 align="left"> <!--text-align =  "justify"-->Inverted Index</h1>
            </header>
            <div style="float:center" for="field1" class="search-rule" ng-show="showSearch">
                <input type="text" class="input-field" name="field1" placeholder="search..." ng-model="searchIndex">
                <select ng-model="fileTitle">
                    <option value="">
                        Select File to Search
</option>
                    <option value="{{searching}}" ng-repeat="searching in uploadedFile">{{searching}}</option>
                    <option value="all" selected>All files</option>
                </select>
                <button class="btn btn--default" id="search-button" ng-click="search()">Search &nbsp; 
                    <i class="ion-ios-search" aria-hidden="true"></i>
                </input>
            </button>
        </div>
        <div class="flex-grid">
            <aside class="sidebar sidebar-rule">
                <h2 class="block-title indexex-rule aside-title aside-index">Indexes</h2>
                <p id="list"> Upload a JSON file to create an index.</p>
                <label class="btn btn--default aside-buttons">
                    Upload &nbsp; 
                    <i class="ion-upload"></i>
                    <input id="json-file" class="file-upload" type="file" multiple>
                </label>
                <div>
                    <select ng-model="fileSelected">
                        <option value="">Select File..</option>
                        <option value="{{file}}" ng-repeat="file in fileName">{{file}}</option>
                    </select>
                    <button class="btn btns" ng-click="createIndex()">Create Index &nbsp;</button>
                </div>
                <div class="error">{{error}}</div>
                <div class="footer-div">
                    <small>&copy;<a href="https://github.com/andela-tisrael" class="footer-israel">andela-tisrael</a></small>
                </div>
            </aside>
            <div id="indexes" class="card">
                <span ng-show="displayTable"><table>
                        <thead>
                            <tr>
                                <th ng-if="indexes">Words</th>
                                <th ng-repeat="i in indexes">Doc {{ (i++1) }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(key, value) in words">
                                <td>{{ key }}</td>
                                <td ng-repeat="i in indexes"><span ng-repeat="val in value"><span ng-if="i ==(val-1)"></span><i ng-if="i == (val - 1)" class="fa fa-check" aria-hidden="true"></i></span></td>
                            </tr>
                        </tbody>
                    </table></span>
                <span ng-show="displayAll" ng-repeat="(doc, docType) in documents"><div>{{doc}}</div><table>
                        <thead> 
                            <!-- indexes -->
                            <tr>
                                <th ng-if="docType">Words</th>
                                <th ng-repeat="i in docType">Doc {{ (i++1) }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(key, value) in words[doc] ">
                                <td>
                            {{ key }}</td>
                                <td ng-repeat="i in docType"><span ng-repeat="val in value"><span ng-if="i ==(val-1)"></span><i ng-if="i == (val - 1)" class="fa fa-check" aria-hidden="true"></i></span></td>
                            </tr>
                        </tbody>
                    </table></span>
                <div ng-show="template" text-align="center" class="bold div-tags">&nbsp;An inverted index consists of a list of all the unique words that appear in any &nbsp;document, 
                    and for each &nbsp;word, a list of the &nbsp;documents in which it appears.
                    <br>&nbsp;Usage
                    <br>
                    <strong>&nbsp; &nbsp;Upload</strong>
                    <br>&nbsp;* Upload JSON file(s)
                    <br>&nbsp;* Select a file to create index for
                    <br>&nbsp;* Click create index
                    <br>&nbsp; 
                    <b>Search</b>
                    <br>&nbsp;* Select file(s) to search
                    <br>&nbsp;* Enter search term(s)
                    <br>&nbsp;* Click search
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
