

html
{
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body
{
    margin: 0;
    padding: 30px;
    background-color: lightblue;
}

.display
{
    margin-left: 28%;
}

.wrapper
{
    margin-top: 0%;
}

.sidebar
{
    margin-top: 91px;
    height: 30px;
}

.footer
{
    margin-bottom: 60%;
}

.search
{
    margin-left: 220px;
}

.button-panel
{
    padding-left: 0px;
    margin-right: 730px;
    margin-top: -10px;
    margin-left: 0px;
}

.button
{
    min-width: 70px;
    padding-right: 40px;
    max-width: 40px;
}

