html
{
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body
{
    margin: 0;
    padding: 30px;
    background-color: lightblue;
}
.display{
    margin-left: 50%;
}
.wrapper{
    margin-top: 0%;
}
.sidebar{
    
}
.footer{
    margin-bottom: 60%;
}